.hero {
    background-image: url('../images/abackround.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-top: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #FF8000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  