.hotel-list-container {
    padding: 20px;
    text-align: center;
}

.rooms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.room-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room-gallery {
    display: flex;
    overflow-x: scroll;
}

.room-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 8px;
}

.room-map {
    margin-top: 10px;
}

.room-info {
    flex-grow: 1;
    margin: 15px;
    text-align: left;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.get-button, .share-button, .favourite-button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.get-button:hover, .share-button:hover, .favourite-button:hover {
    background-color: #008ecc;
}
