
.hotel-list-container {
    padding: 20px;
    text-align: center;
}


.rooms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}


.room-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.room-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}


.room-info {
    flex-grow: 1;
    margin-left: 15px;
}


.room-info h3 {
    margin: 0;
    font-size: 18px;
}


.room-rating {
    margin: 10px 0;
}


.amenities {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    margin: 10px 0;
}


.amenity-icon {
    font-size: 16px;
}


.get-button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.get-button:hover {
    background-color: #008ecc;
}

.hotel-list-container h1 {
    font-size: 48px; 
    font-family: 'Poppins', sans-serif; 
    color: #fff; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700; 
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #f12711, #f5af19); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); 
    padding: 10px;
    transition: transform 0.3s ease; 
}

.hotel-list-container h1:hover {
    transform: scale(1.1); 
}


.hotel-list-container h2 {
    font-size: 30px;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.amenity-icon.wifi::before { content: '📶'; }
.amenity-icon.tv::before { content: '📺'; }
.amenity-icon.ac::before { content: '❄️'; }
.amenity-icon.car::before { content: '🚗'; }
.amenity-icon.pool::before { content: '🏊'; }
