body {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    animation: slideBackground 15s infinite; 
}

@keyframes slideBackground {
    0% {
      background-image: url('../images/fre.png.jpg'); 
    }
    33% {
      background-image: url('../images/peop.png.jpg'); 
    }
    66% {
      background-image: url('../images/re.png.jpg'); 
    }
    100% {
      background-image: url('../images/tee.png.jpg'); 
    }
}
