

body {   
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Arial, sans-serif;
  animation: slideBackground 15s infinite; 
  height: 100vh; 
  margin: 0; 
}

@keyframes slideBackground {
  0%, 16.66% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2Fback1.jpg?alt=media'); 
  }
  16.66%, 33.33% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2Fpeop.png.jpg?alt=media'); 
  }
  33.33%, 50% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2Fre.png.jpg?alt=media'); 
  }
  50%, 66.66% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2Fback2.jpg?alt=media'); 
  }
  66.66%, 83.33% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2FHotel3.jpg?alt=media'); 
  }
  83.33%, 100% {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hotel-booking-app-a083a.appspot.com/o/Background-images%2Fback1.jpg?alt=media'); 
  }
}

